{% load static %}
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="https://cdn.discordapp.com/icons/715958380556058684/773d6583cd1d7aef41e701783d353aef.webp?size=128" type="image/x-icon">
<meta name="description" itemprop="description"
        content="Play your playlists and favourites tracks, albums, and artists " />
    <meta name="keywords"
        content="convert, convert playlists, transfer, syncing, smart links, free, apple music, streaming services" />
  {% block css %}
	<link rel="stylesheet" href="{% static "formStyle.css" %}">
  {% endblock %}
	<title>Youttify</title>
</head>

<body>


			<div class="signup_header">
                <a href="" target="_blank">
				
                    </a>
            </div>
        </a>
        <div class="signup_body">
            <form class="login_form" method='POST' enctype="multipart/form-data">
                {% csrf_token %}
                <label for="login-username" class="label">
                    Email address or username
                </label>

                <input type="text" class="form_input" pattern="[A-Za-z0-9.@_-e]+" name="username" placeholder="Email address or username" required>
                <label for="login-username" class="label">
                    Password
                </label>
                <input type="password" class="form_input" name="password" placeholder="Password" required>
                {% if not case %}
                <span style="color:#f79862;
                             padding-bottom:20px;
                             text-align:center;">Username or password invalid</span>
                {% endif %}
                <button class='btn btn_log_in' type="submit">Log in</button>
                <div class="divider"></div>
                <p class='label center-align'>Don't have an account?</p>
            <a class='btn btn_sign_up' href="/signup">Sign Up for Lushlyrics</a>
            </form>
        </div>

        <!-- <div class="signin_body">

        </div> -->

    </body>
</body>

</html>